.pinterest-link {
  text-decoration: none;
  color: #111;
  font-weight: 600;
  border-bottom: 2px solid #efefef;
  transition: border-color 0.4s ease;
}

.pinterest-link:hover {
  border-bottom-color: #E60023; /* Only the underline changes color */
}