
body {
	text-align: center;
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
	background-image: url("assets/img/assessment-1.jpg");
	background-repeat: repeat-x;
	background-color: #171717;
	font-size: 16px;
	line-height: 1.5em;
}
#container {
	max-width: 800px;
	margin: 0 auto;
	text-align: left;
	background-color: #FFF;
	border: 1px solid #CCC;
	padding: 20px;
}
#header h1 {
	width: 800px;
	height: 140px;
	margin: 0;
	padding: 0;
	background: url("assets/img/assessment-1.jpg") no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}

#header h1 a {
	display: block;
	width: 100%;
	height: 100%;
}
.alert {
	background-color: #fff3cd;
	color: #856404;
	border: 1px solid #f5c6cb;
	padding: 10px;
	border-radius: 4px;
}

.pinterest-link:hover {
  text-decoration: none;
  background-color: #bd081c;
  color: #fff;
}
